<%= form_for recipe do |f| %>

  <div class="field">
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <% if !ingredients.blank? %>
      <%= f.label :ingredients, 'Ingredients:' %><br>
      <%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name %>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
