<%= form_for @recipe do |f| %>
  <%= f.text_field :name %>

  <% @all_ingredients.each do |ingredient| %>
    <div>
      <%= f.fields_for :recipe_ingredients, @recipe.new_or_existing_recipe_ingredient(ingredient) do |ri_fields| %>
        <%= ri_fields.label :name, ingredient.name %>
        <%= ri_fields.text_field :quantity %>
        <%= ri_fields.check_box :ingredient_id, { checked: @recipe.has_ingredient?(ingredient) }, ingredient.id, "0" %>
      <% end %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
