<%= form_for @recipe do |f| %>
  <%= f.text_field :name %>

  <p>
    There are enough ingredients to make <%= @recipe.total_makeable %> <%= @recipe.name.pluralize %>
  </p>

  <%= hidden_field_tag "recipe[ingredient_ids][]", nil %>
  <% @all_ingredients.each do |ingredient| %>
    <div>
      <%= label_tag "ingredient_#{ingredient.id}", ingredient.name %>
      <%= text_field_tag "recipe[recipe_ingredient_attrs][][quantity]", @recipe.quantity_for(ingredient), id: "ingredient_quantity_#{ingredient.id}" %> <%= ingredient.inventory_units %>
      <%= check_box_tag "recipe[recipe_ingredient_attrs][][ingredient_id]", ingredient.id, @recipe_ingredient_ids.include?(ingredient.id), id: "ingredient_#{ingredient.id}" %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
