<%= form_for @recipe do |f| %>
  <%= f.text_field :name %>

  <% @ingredients.each do |ingredient| %>
    <div>
      <%= label_tag "ingredient_#{ingredient.id}", ingredient.name %>
      <%= text_field_tag "recipe[recipe_ingredient_attrs][][quantity]", "", id: "ingredient_quantity_#{ingredient.id}" %>
      <%= check_box_tag "recipe[recipe_ingredient_attrs][][ingredient_id]", ingredient.id, false, id: "ingredient_#{ingredient.id}" %>
    </div>
  <% end %>

  <%= f.submit %>
<% end %>
